body, html { width: 100%; height: 100%; margin: 0 auto; padding: 0; position: absolute; }
div { margin: 0 auto; padding:0; }
ol { margin: 0 auto; padding: 0; }
.clearfix { clear: both; }
.disabled { background-color: #ccc; }
#title { margin: 0 auto; }
#title span { font-size:12px; }
.title-break  { display: block; margin-top: -20px; }
.container { position: relative; max-width: 1200px; }
#instructions { float: left; width: 50%; margin-left: 30px; }
#steps { margin: 0;}
#output { float: left; width: 42%; min-height: 304px; margin-top: 15px; border: 1px dashed; padding-left: 30px; }
#output.title {   margin-top: 5px; }
li.step  { padding-bottom: 10px; width: 100%; padding-right: 30px; }
li.step:hover { color: blue; }
.step button { cursor: pointer; position:relative; right: 0px;   float: right; margin-right: 30px; }
.status-window { max-width: 40%; margin: 0; float: left; }
.output-window { max-width: 40%; margin: 0; float: left; margin-left: 60px; }