<div id="login-page" class="content page">
    <div class="page-container">
        <div id="test-div">{{ message }}</div>

        <div id="login">
            <div id="username" class="col-sm-12">
                <input type="text" name="username" class="form-control" ng-model="username" placeholder="Enter Username" />
            </div>
            <div id="pass" class="col-sm-12">
                <input type="password" name="pass" class="form-control" ng-model="pass" placeholder="Enter Password" />
            </div>
            <br>
            <div class="clearfix"></div>
            <div>
                <!-- <button id="create-account" ui-sref="home.login.create" ng-href="/login/create">Create</button>
                <button id="login" ng-click="login(username, pass)">Login</button> -->

                <button ng-show="!sessionUser" data-ui-sref="home.login.create" class="btn btn-warning">Create Account</button>
                <button ng-show="!sessionUser" data-ng-click="login(username, password)" ng-href="/login" class="btn btn-info">Login</button>
                <button ng-show="!sessionUser" ng-click="facebookLogin()" class="btn btn-info">FaceBook Login</button>
                <button ng-show="sessionUser" ng-click="logout()" class="btn btn-success">Logout</button>
                <!--Test Admin Button-->
                <!--This will check weather the makeAdmin() function is secure and will work-->
                <!--only for the user listed as techNinjaAdmin-->
            </div>
        </div>

    </div>

</div>