<div id="create-account-page" class="content page">
    <div class="page-container">
        <div>
        	<div id="username" class="col-sm-12">
                <input type="username" class="form-control" name="username" ng-model="username" placeholder="Enter A Username">
            </div>
            <div id="firstName" class="col-sm-12">
                <input type="firstName" class="form-control" name="firstName" ng-model="firstName" placeholder="Enter First Name">
            </div>
            <div id="lastName" class="col-sm-12">
                <input type="lstName" class="form-control" name="lastName" ng-model="lastName" placeholder="Enter Last Name">
            </div>
            <div id="email" class="col-sm-12">
                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter Email">
            </div>
            <div id="pass" class="col-sm-12">
                <input type="password" class="form-control" name="pass" ng-model="pass" placeholder="Enter Password">
            </div>
            <div>

                <button ng-show="!sessionUser" ng-click="createUser(username, firstName, lastName, email, pass)" class="btn btn-warning">Create Account</button>
                <button ng-show="!sessionUser" ui-sref="home.login" ng-href="/login" class="btn btn-info">Login</button>
                <button ng-show="!sessionUser" ng-click="facebookLogin()" class="btn btn-info">FaceBook Login</button>
                <button ng-show="sessionUser" ng-click="logout()" class="btn btn-success">Logout</button>
                <!--Test Admin Button-->
                <!--This will check weather the makeAdmin() function is secure and will work-->
                <!--only for the user listed as techNinjaAdmin-->
            </div>
        </div>

    </div>
</div>